@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Homemade+Apple&family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Poppins";
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
}

.sketch-title {
    text-align: center;
    font-family: "Cedarville Cursive";
    color: white;
}

.sketchpad-container {
    width: 650px;
    height: 100%;
    min-height: 700px;
    background-color:rgb(11, 136, 109);
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: shadowPulse 3s ease-in-out infinite;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 50px rgba(11,136,109,0);
    }
    50% {
        box-shadow: 0 0 50px rgba(11,136,109,1)
    }
    100% {
        box-shadow: 0 0 50px rgba(11,136,109,0)
    }

}


.sketch-area-container {
    display: grid;
    grid-template-columns: repeat(600, 1fr);
    grid-template-rows: repeat(600, 1fr);
    width: 600px;
    height: 600px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
}

.grid-cell {
    cursor: crosshair;
    background-color: rgb(255, 255, 255);
    user-select: none;
}
.button-container {
    height: 10%;
    width: 600px;
    background-color:rgb(11, 136, 109);
    margin: 1rem auto 1rem auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.grid-label {
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.grid-number {
    width: 60px;
    border-radius: 5px;
}
.grid-submit {
    margin-right: 20px;
}
.color-select, .clear-button, .eraser, .grid-number, .grid-submit, .undo-button{
    background-color: white;
    border-radius: 5px;
    border: solid 1px white;
    padding: 5px;
    cursor: pointer;
}

.color-select:active, .clear-button:active, .grid-submit:active, .undo-button:active {
    background-color: aquamarine;
}

.eraser-active {
    cursor: url("./images/icons8-eraser-tool-48.png")
}