@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Homemade+Apple&family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@500&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Pixelify+Sans:wght@500;700&family=Poppins:wght@700&display=swap');
* {
    box-sizing: border-box;
    font-family: "Caveat";
    color:rgb(56, 56, 56);
    /* border: 1px red solid; */
}

html {
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 30px;
}
.game-container {
    display: flex;
    justify-content: center;
    gap: 3vh;
}
.player-score, .computer-score {
    font-size: 3rem;
}
.selection-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.button-choice {
    font-size: 50px;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    width: 300px;
    background-color: #57d8ea;
    transition: transform 0.3s ease;
    cursor: pointer;
    
}

.button-choice:active{
    background-color: #93e5f0;
}

.result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    max-width: 60%;
}
